.compose-container {
	.header {
		display: block;
	    padding-top: 10px;
	    padding-bottom: 15px;
	    border-bottom: 1px solid;
	    width: 80%;
	    font-weight: bold;
    	font-size: 20px;
	}
	.add-note {
		padding-top: 10px;
		.stop-resize {
			resize: none;
			height: 200px;
		}
	}	
}